<% c++ #include "data/tmpl_search.h" %>
<% skin defskin %>
<% view Search uses Data::Search  %>

<% template catalog_row(Data::SearchItem item)%>
<tr role="row">
    <td class="details-control"></td>
    <td ><%= item.file %></td>
    <td ><%= item.code %></td>
    <td ><%= item.articul %></td>
    <td ><%= item.name | raw %></div></td>
    <td ><%= item.pack %></td>
    <td ><%= item.price %></td>
    <% if user_level %>
    <td class="col-md-2"><div>
    <input type="text" class="input-cell" id="sp-<%= item.ref %>"  name="<%= item.ref %>" type="text" size="4" value="0">
    </div>
    </td>
    <td></td>
    <% end %>
</tr>
<% end template %>


<% template header() %>


<div class="row" style="display: block;">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	<h1 class="page-title txt-color-blueDark">
	    <i class="fa fa-table fa-fw "></i> 
		Пойск
	    <span>&gt; 
		Найденые товары
	    </span>
	</h1>
    </div>
    <% if (content.user_level == 2) %>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
	<ul id="sparks" class="">
	    <li class="sparks-info">
		<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
		<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	    <li class="sparks-info">
		<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
		<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	    <li class="sparks-info">
		<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
		<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	</ul>
    </div>
    <% end %>
</div>

<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

	<!-- NEW WIDGET START -->
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
	    <!-- Widget ID (each widget will need unique ID)-->
	    <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-10" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Список найденых товаров </h2>
            </header>
            <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content-->
                    <div class="widget-body no-padding">
                        <table id="search_table" class="table table-striped table-bordered table-hover" width="100%">
    			    <thead>
        			<tr>
        			    <th/>
            			    <th>Фото</th>
            			    <th>Код</th>
            			    <th>Артикул</th>
            			    <th>Описание товара</th>
            			    <th>Упаковка /<br/>Коробок</th>
            			    <th>Цена</th>
            			    <% if user_level %>
            			    <th>Заказано<br/>шт.</th>
            			    <th>Стоимоcть</th>
            			    <% end %>
        			</tr>
        		    </thead>
                        </table>
                    </div>
        </div>
	</article>
    </div>



</section>

<script type="text/javascript">

    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();
    
    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     * 
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     * 
     */
    
    
    // PAGE RELATED SCRIPTS
    
    // pagefunction	
    var pagefunction = function() {
    
    /* // DOM Position key index //
    
        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing 
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class
        
        Also see: http://legacy.datatables.net/usage/features
    */	
    /*
	loadScript("media/js/plugin/x-editable/x-editable.min.js", autheditplagin);
	function autheditplagin(){
	    var countries = [];
	    $.each({
	        "BD": "Bangladesh",
	        "BE": "Belgium",
	        "BF": "Burkina Faso",
	        "BG": "Bulgaria",
	        "BA": "Bosnia and Herzegovina",
	        "BB": "Barbados"
	    }, function (k, v) {
	        countries.push({
	            id: k,
	            text: v
	        });
	    });
    
	    $('#author').editable({
	        source: countries,
	        select2: {
	            width: 200
	        }
	    });
	}
    */

    /* BASIC ;*/
        var responsiveHelper_search_table = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;
        var search_table = undefined;

        var breakpointDefinition = {
	tablet : 1024,
	phone : 480
        };
	var elemcount = 0;
	var config = {
		catalog: { add: function(name, val) {this[name] = val; }},
		searchString:"<%= searchString%>"
	    };

	var catalogdata = localStorage.getItem($('meta[name=useref]').attr("rel"));
    	if(!catalogdata)
	{
    	    localStorage.setItem($('meta[name=useref]').attr("rel"), JSON.stringify(config.catalog));
        
	}else{
    	    var jsdata = JSON.parse(catalogdata);
    	    $.each(jsdata,function(key,value)
    	    {
		config.catalog.add(key,value);
    	    });
	    elemcount = Object.keys(config.catalog).length;
	};

	if(elemcount){
	    if($("#shopcart").length == 3)
		$("#shopcart :last").remove();
	    $("#shopcart").append("<b id=\"shopcartbadge\"class=\"badge bg-color-red bounceIn animated\">"+elemcount+"</b>");
	}
	
	/* Formatting function for row details - modify as you need */
	function format ( d ) {
	    // `d` is the original data object for the row
	    console.log(d);
	    //return '<table  border="0" style="padding-left:50px; width: 100%">'+
	    return '<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">'+
    		'<tr>'+
		    '<td>'+
    			'<div class="fit-img">'+
			    '<a class="highslide" href="media/img/fullsize/'+d.file+'" onclick="return hs.expand(this);">'+
	    			'<img src="media/img/catalog/'+d.file+'">'+
			    '</a>'+
    			'</div>'+
		    '</td>'+
        	    '<td style="width: 20%">Код:</td>'+
        	    '<td>'+d.code+'</td>'+
    		'</tr>'+
    		'<tr>'+
    		    '<td></td>'+
        	    '<td style="width: 20%">Наименование товара:</td>'+
    		    '<td>'+d.name+'</td>'+
    		'<tr>'+
    		    '<td></td>'+
        	    '<td style="width: 20%">Описание:</td>'+
        	    '<td>'+d.description+'</td>'+
    		'</tr>'+
    		'<tr>'+
    		    '<td></td>'+
        	    '<td style="width: 20%">Цена:</td>'+
        	    '<td>'+d.price+'</td>'+
    		'</tr>'+
	    '</table>';
	}
	
	
        var table = $('#search_table').dataTable({
            /*"autoWidth" : false,
	    "processing": true,
    	    "serverSide": false,*/
	    "aLengthMenu": [[10, 15, 25, 50, 100, 250, 500, -1], [10, 15 ,25, 50, 100, 250, 500, "All"]],
    	    "ajax" : 
	    /*"url" : "catalog-data",*/
	    function (data, callback, settings) {
	        /*var config.catalog = JSON.parse( localStorage.getItem($('meta[name=useref]').attr("rel")));*/
	        $.ajax({
	    	    type:"GET",
		    data:{
			search:config.searchString
		    },
		    dataType:"json",
		    url:"search-data",
		    success: function(data){callback(data);}
	        });
	    },
    	    "columns": [
		{
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
		{ "data": "file" },
		{ "data": "code","sClass": "right" },
		{ "data": "articul" },
		{ "data": "name" },
		{ "data": "pack" },
		{ "data": "price","sClass": "right" },
		<% if user_level %>
		{ "data": null },
		{ "data": null,"sClass": "right" }
		<% end %>
    	    ],
	     "columnDefs": [ 
    	    {
		"targets": 1,
		"data": "file",
		"render": function ( data, type, full, meta ) {
		    var price = full.price*1;
		    return '<div style="width:65px;"><a class="highslide" href="media/img/fullsize/'+data+'" onclick="return hs.expand(this);">'+
		    '<img style="width:35px height: 35px;" src="media/img/catalog/'+data+'">'+
		    '</a></div>';
		}
    	    },
    	    {
		"targets": 6,
		"data": "file",
		"render": function ( data, type, full, meta ) {
		    return '<span class="right">'+ data.toFixed(2)+'</span>';
		}
    	    },
    	    <% if user_level %>

	    {
		"targets": 7,
		"data": null,
		"render": function ( data, type, full, meta ) {
		    if(config.catalog[full.ref])
			return '<input type="text" class="input-cell"  id="sp-'+full.ref+'"  name="'+full.ref+'" type="text" size="4" value="'+config.catalog[full.ref]+'">';
		    else
			return '<input type="text" class="input-cell"  id="sp-'+full.ref+'"  name="'+full.ref+'" type="text" size="4" value="0">';
		}
    	    },
	    {
		"targets": 8,
		"render": function ( data, type, full, meta ) {
		    if(config.catalog[full.ref])
		    {
		    var profits = (config.catalog[full.ref]*full.price);
			return  profits.toFixed(2);
		    }else{
			return '';
		    }
		}
    
    	    },
    	    <% end %>
    	    
    	    ],
            "language": {
    		"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json",
    		"dsd":'Показанны строки с <span class="txt-color-darken"> _START_</span> по <span class="txt-color-darken"> _END_</span> из <span class="text-primary">_TOTAL_</span> ',
	    },
    	    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
		"t"+
		"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
	    "preDrawCallback" : function() {
		// Initialize the responsive datatables helper once.
		if (!responsiveHelper_search_table) {
		    responsiveHelper_search_table = new ResponsiveDatatablesHelper($('#search_table'), breakpointDefinition);
		}
	    },
	    "rowCallback" : function(nRow) {
		responsiveHelper_search_table.createExpandIcon(nRow);
	    },
	    "drawCallback" : function(oSettings) {
		responsiveHelper_search_table.respond();
	    }

        });

	// Add event blur
	$('#search_table tbody').on('blur', '.input-cell',function(){
	    if(this.value != "0")
	    {
		config.catalog.add(this.name,this.value);
		//config.catalog[this.name] = this.value;
		localStorage.setItem($('meta[name=useref]').attr("rel"), JSON.stringify(config.catalog));
		console.log("***",table);
		console.log($(table));
		var tr = $(this).closest('tr');
		var row = responsiveHelper_search_table.api.row( tr );
		//row = table.row(tr);
		//console.log(row);
		//console.log("!!!",$("#search_table tbody").rows[0]);
		//tr.find('td')[8] = 10;
		//console.log("!!!",Object(tr[0])[8]);

		tr.find('td:last').text(this.value*tr.find('td:eq(6)').text());
		//console.log(responsiveHelper_search_table.api.row(tr).draw());
		//responsiveHelper_search_table.api.row(tr).draw();
		elemcount = Object.keys(config.catalog).length-1;

	    }else{
		//delete config.catalog[this.name];
	    }    

	    if($("#shopcart").length == 3)
	    $("#shopcart :last").remove();
	    $("#shopcart").append("<b id=\"shopcartbadge\"class=\"badge bg-color-red bounceIn animated\">"+elemcount+"</b>");

	});

	// Add event listener for opening and closing details
	$('#search_table tbody').on('click', 'td.details-control', function () {
    	    var tr = $(this).closest('tr');
    	    var row = responsiveHelper_search_table.api.row( tr );
 
    	    if ( row.child.isShown() ) {
        	// This row is already open - close it
        	row.child.hide();
        	tr.removeClass('shown');
    	    }
    	    else {
        	// Open this row
        	row.child( format(row.data()) ).show();
        	tr.addClass('shown');
    	    }
	});
    

    };


    loadScript("media/js/highslide/highslide.packed.js",function(){
	hs.graphicsDir = "media/js/highslide/graphics/";
                  hs.outlineType = null;
                  hs.showCredits = false;
                  hs.lang= {cssDirection:"ltr",loadingText:"Загрузка...",loadingTitle:"Кликните чтобы отменить",focusTitle:"Нажмите чтобы перенести вперёд",fullExpandTitle:"Увеличить",fullExpandText:"Полноэкранный",previousText:"Предыдущий",previousTitle:"Назад (стрелка влево)",nextText:"Далее",nextTitle:"Далее (стрелка вправо)",moveTitle:"Передвинуть",moveText:"Передвинуть",closeText:"Закрыть",closeTitle:"Закрыть (Esc)",resizeTitle:"Восстановить размер",playText:"Слайд-шоу",playTitle:"Слайд-шоу (пробел)",pauseText:"Пауза",pauseTitle:"Приостановить слайд-шоу (пробел)",number:"Изображение %1/%2",restoreTitle:"Нажмите чтобы посмотреть картинку, используйте мышь для перетаскивания. Используйте клавиши вперёд и назад"};
    
    });




    loadScript("media/js/plugin/datatables/jquery.dataTables.min.js", function(){
	loadScript("media/js/plugin/datatables/dataTables.colVis.min.js", function(){
    	    loadScript("media/js/plugin/datatables/dataTables.tableTools.min.js", function(){
		loadScript("media/js/plugin/datatables/dataTables.bootstrap.min.js", function(){
		    loadScript("media/js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
		});
    	    });
	});
    });
</script>


<% end %>

<% template render() %>

    <% include header() %>

<% end template %>
<% end view %>
<% end skin %>
