<% c++ #include "data/tmpl_shopcart.h" %>
<% skin defskin %>
<% view ShopCart uses Data::ShopCart  %>

<% template header() %>
<div class="row" style="display: block;">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	<h1 class="page-title txt-color-blueDark">
	    <i class="fa fa-table fa-fw "></i> 
		Корзина
	    <span>&gt; 
		Текущий заказ
	    </span>
	</h1>
    </div>
    <% if (content.user_level == 2) %>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
	<ul id="sparks" class="">
	    <li class="sparks-info">
		<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
		<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	    <li class="sparks-info">
		<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
		<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	    <li class="sparks-info">
		<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
		<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
	    </li>
	</ul>
    </div>
    <% end %>
</div>

<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

	<!-- NEW WIDGET START -->
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
	    <!-- Widget ID (each widget will need unique ID)-->
	    <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-10" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Список товаров в корзине </h2>
            </header>
            <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content-->
                    <div class="widget-body no-padding">
                        <table id="shopcart_table" class="table table-striped table-bordered table-hover" width="100%" name="ordertable">
    			    <thead>
        			<tr>
            			    <th>Фото</th>
            			    <th>Код</th>
            			    <th>Артикул</th>
            			    <th>Описание товара</th>
            			    <th>Упаковка /<br/>Коробок</th>
            			    <th>Цена</th>
            			    <th>Заказано<br/>шт.</th>
            			    <th>Стоимочть</th>
        			</tr>
        		    </thead>
                        </table>
                    </div>
        </div>
	</article>
    </div>


    <!-- row -->
    <div class="row">

	<!-- NEW WIDGET START -->
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
	    <!-- Widget ID (each widget will need unique ID)-->
	    <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-11" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Параметры заказа </h2>
            </header>
            <!-- widget div-->
                <div role="content">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content-->
                    <div class="widget-body ">
			<!--<form action="send-order" method="post" id="comment-form" class="smart-form" novalidate="novalidate">-->
			<div id="sendorder-form" class="smart-form">
				<header>Параметры заказа</header>
			    <fieldset>
				<!--<legend> Параметры заказа</legend>-->

				<div class="widget-body no-padding">
				    <!--<section class="col col-4">-->
					<!--<label class="label">Пользователь</label>-->
					    <!--<a href="form-x-editable.html#" id="author" data-type="select2" data-pk="1" data-select-search="true" data-value="BS" data-original-title="Select country"></a>-->
					<!--<label class="input state-success"> <i class="icon-append fa fa-user"></i>-->
					    <!--<input type="text" name="address">-->
					<!--</label>-->
				<!--<div class="form-group">-->
				<% foreach item in userList %>
				<section name="username" class="col col-6">
				    <label>Пользователь</label>
				    <select style="width:100%" class="select2" name="user">
					<% item %>
					<option value="<%= item.ref%>"><%= item.name %></option>
					<% end %>
				    </select>
				<!--</div>-->
				</section>
				<% end %>
				<section  class="col col-6">
				<!--<div class="form-group col-md-6 has-feedback">-->
				    <label>Адрес</label>
				    <select style="width:100%" class="select2" name ="address">
					<% foreach item in addressList %>
					    <% item %>
					    <option value="<%= item.ref%>"><%= item.name %></option>
					    <% end %>
					<% end %>
				    </select>
				<!--</div>-->
				</section>
				</div>
			    <!--</fieldset>
			    <fieldset>-->
				<section>
				    <label class="label">Коментарий</label>
				    <label class="textarea"> <i class="icon-append fa fa-comment"></i><textarea rows="4" name="comment"></textarea> </label>
				    
				</section>
				<!--<div class="form-group has-feedback">
				    <label class="control-label">Коментарий</label>
				    <textarea class="form-control" name="review" rows="8" data-bv-field="review"></textarea>
				    <i class="form-control-feedback" data-bv-icon-for="review" style="display: none;"></i>
				    <small class="help-block" data-bv-validator="stringLength" data-bv-for="review" data-bv-result="NOT_VALIDATED" style="display: none;">Сообщение не должно превышать 200 символов</small>
				</div>-->
			    
				<!--<section>
				    <label class="textarea"> <i class="icon-append fa fa-comment"></i> 										
					<textarea rows="5" name="comment" placeholder="Tell us about your project"></textarea> 
				    </label>
				</section>-->
			    </fieldset>
			    <footer class="form-actions">
				<!--<div class="row">
				    <div class="col-md-12">-->
					<button class="btn btn-default" type="submit" role="save">
					    <i class="fa fa-save"></i>
					    Сохранить заказ
					</button>
					<button class="btn btn-primary" type="submit" role="send">
					    <i class="fa fa-rocket"></i>
					    Отпрравить заказ
					</button>
				    <!--</div>
				</div>-->
			    </footer>			    
			</div>
                    </div>
        </div>
	</article>
    </div>

</section>

<script type="text/javascript">

    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();
    
    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     * 
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     * 
     */
    
    
    
    // PAGE RELATED SCRIPTS
    
    // pagefunction	
    var pagefunction = function() {
    console.log("pageFunction");
    
    /* // DOM Position key index //
    
        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing 
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class
        
        Also see: http://legacy.datatables.net/usage/features
    */	

/*
	loadScript("media/js/plugin/x-editable/moment.min.js", loadMockJax);
    
	function loadMockJax() {
	    loadScript("media/js/plugin/x-editable/jquery.mockjax.min.js", loadXeditable);
	}
    
	function loadXeditable() {
	    loadScript("media/js/plugin/x-editable/x-editable.min.js", loadTypeHead);
	}
    
	function loadTypeHead() {
	    loadScript("media/js/plugin/typeahead/typeahead.min.js", loadTypeaheadjs);
	}
    
	function loadTypeaheadjs() {
	    loadScript("media/js/plugin/typeahead/typeaheadjs.min.js", autheditplagin);
	}

	loadScript("media/js/plugin/x-editable/x-editable.min.js", autheditplagin);

	function autheditplagin(){
	    var countries = [];
	    $.each({
	        "BD": "Bangladesh",
	        "BE": "Belgium",
	        "BF": "Burkina Faso",
	        "BG": "Bulgaria",
	        "BA": "Bosnia and Herzegovina",
	        "BB": "Barbados"
	    }, function (k, v) {
	        countries.push({
	            id: k,
	            text: v
	        });
	    });
    
	    $('#author').editable({
	        source: countries,
	        select2: {
	            width: 200
	        }
	    });
	}
*/

    /* BASIC ;*/
        var responsiveHelper_shopcart_table = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;
        

        var breakpointDefinition = {
	tablet : 1024,
	phone : 480
        };

	var config = {catalog: { add: function(name, val) {this[name] = val; }}};
	//console.log($('meta[name=useref]'));
	//console.log($('meta[name=useref]').attr("rel"));
	var jsondata = JSON.parse( localStorage.getItem($('meta[name=useref]').attr("rel")));
	var elemcount = Object.keys(jsondata).length;
	if($("#shopcart").length == 3)
	    $("#shopcart :last").remove();
	$("#shopcart").append("<b id=\"shopcartbadge\"class=\"badge bg-color-red bounceIn animated\">"+elemcount+"</b>");
	/*
	if(jsondata)
	{
	    $.each(jsondata,function(key,value)
    	    {
		config.catalog.add(key,value);
    	    });
	}*/
        $('#shopcart_table').dataTable({
	    "autoWidth" : false,
	    "processing": true,
	    "serverSide": false,
	    "ajax" : 
		/*"url" : "catalog-data",*/
		function (data, callback, settings) {
    		    /*var jsondata = JSON.parse( localStorage.getItem($('meta[name=useref]').attr("rel")));*/
    		    $.ajax({
    			data:jsondata,
    			url:"shopcart-data",
    			success: function(data){callback( JSON.parse(data));}
    		    });
    		    
		    //callback(jsondata)
		},
	    "columns": [
    		{ "data": "file" },
    		{ "data": "code","sClass": "right" },
    		{ "data": "articul" },
    		{ "data": "name" },
    		{ "data": "pack" },
    		{ "data": "price","sClass": "right" },
    		{ "data": "quantity" },
    		{ "data": undefined,"sClass": "right" }
	    ],
	    
	    "columnDefs": [ 
	    {
		"targets": 0,
		"data": "file",
		"render": function ( data, type, full, meta ) {
		    return '<a class="highslide" href="media/img/fullsize/'+data+'" onclick="return hs.expand(this);">'+
			'<img src="media/img/catalog/'+data+'">'+
			'</a>';
		}
	    },
	    {
		"targets": 5,
		"data":"price",
		"render": function ( data, type, full, meta ) {
		    var profits = (data);
		    return '<span class="right">'+ profits.toFixed(2)   +'</span>';
		}
	    
	    },
	    {
		"targets": 7,
		"data": "file",
		"render": function ( data, type, full, meta ) {
		    var profits = (jsondata[full.ref]*full.price);
		    return '<span class="right">'+ profits.toFixed(2)   +'</span>';
		}
	
	    },
	    {
		"targets": 6,
		"data": "file",
		"render": function ( data, type, full, meta ) {
		    return '<input type="text" class="input-cell"  id="sp-'+full.ref+'"  name="'+full.ref+'" type="text" size="4" value="'+jsondata[full.ref]+'">';
		}
	
	    },
	
	    ],
	    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
		"t"+
		"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",

	    "preDrawCallback" : function() {
		// Initialize the responsive datatables helper once.
		if (!responsiveHelper_shopcart_table) {
		responsiveHelper_shopcart_table = new ResponsiveDatatablesHelper($('#shopcart_table'), breakpointDefinition);
		}
	    },
	    "rowCallback" : function(nRow) {
		responsiveHelper_shopcart_table.createExpandIcon(nRow);
	    },

	    "drawCallback" : function(oSettings) {
	
		$(".input-cell").blur(function(){
		    if(this.value != "0")
		    {
			//config.catalog.add(this.name,this.value);
			jsondata[this.name] = this.value;
		    }else{
			delete jsondata[this.name];
		    }    

		    localStorage.setItem($('meta[name=useref]').attr("rel"), JSON.stringify(jsondata));
		    var elemcount = Object.keys(jsondata).length;
		    if($("#shopcart").length == 3)
			$("#shopcart :last").remove();
		    $("#shopcart").append("<b id=\"shopcartbadge\"class=\"badge bg-color-red bounceIn animated\">"+elemcount+"</b>");

		});
		responsiveHelper_shopcart_table.respond();
	    }

        });
	$(".form-actions > button").click(function(){
	    console.log($(this).attr('role'))
	    console.log($('select[name=address]'));
	    console.log($('select[name=user]'));
    	    $.ajax({
		type:"POST",
		data:{
	    	    records:JSON.stringify(jsondata),
	    	    count:Object.keys(jsondata).length,
	    	    address:$('select[name=address]').val(),
	    	    user:$('select[name=user]').val(),
	    	    comment:$('textarea[name=comment]').val(),
		},
		url:"send-order",
		success: function(data)
		{
		    console.log(data);
		    localStorage.setItem($('meta[name=useref]').attr("rel"),"{}");
		    var api = $('#shopcart_table').dataTable().api();
		    config.catalog = undefined;
		    jsondata = JSON;
		    api.ajax.reload();
		    
		    // Удаляем бедж с корзины
		    if($("#shopcart").length == 3)
			$("#shopcart :last").remove();
		    
		    $.smallBox({
	    		title : "Добавлен новый документ",
	    		content : data,
	    		color : "#5384AF",
	    		timeout: 8000,
	    		icon : "fa fa-bell"
		    });		    
		    
		}
    	    });
	    
	    
	    
	});
/*
	var $commentForm = $("#sendorder-form").validate({
	    // Rules for form validation
	    rules : {
		username : {
		    required : true
		},
		address : {
		    required : true,
		},
		comment : {
		    required : false
		}
	    },

	    // Messages for form validation
	    messages : {
		username : {
		    required : 'Необходимо указать пользователя',
		},
		address : {
		    required : 'Необходимо выбрать адрес доставки',
		},
		comment : {
		    required : 'Необходимо указать коментарий'
		}
	    },

	    // Ajax form submition
	    submitHandler : function(form) {
		$(form).ajaxSubmit({
		    success : function() {
			$("#sendorder-form").addClass('submited');
		    }
		});
	    },

	    // Do not change code below
	    errorPlacement : function(error, element) {
		error.insertAfter(element.parent());
	    }
	});
*/

    };


    loadScript("media/js/highslide/highslide.packed.js",function(){
	hs.graphicsDir = "media/js/highslide/graphics/";
                  hs.outlineType = null;
                  hs.showCredits = false;
                  hs.lang= {cssDirection:"ltr",loadingText:"Загрузка...",loadingTitle:"Кликните чтобы отменить",focusTitle:"Нажмите чтобы перенести вперёд",fullExpandTitle:"Увеличить",fullExpandText:"Полноэкранный",previousText:"Предыдущий",previousTitle:"Назад (стрелка влево)",nextText:"Далее",nextTitle:"Далее (стрелка вправо)",moveTitle:"Передвинуть",moveText:"Передвинуть",closeText:"Закрыть",closeTitle:"Закрыть (Esc)",resizeTitle:"Восстановить размер",playText:"Слайд-шоу",playTitle:"Слайд-шоу (пробел)",pauseText:"Пауза",pauseTitle:"Приостановить слайд-шоу (пробел)",number:"Изображение %1/%2",restoreTitle:"Нажмите чтобы посмотреть картинку, используйте мышь для перетаскивания. Используйте клавиши вперёд и назад"};
    
    });


    loadScript("media/js/plugin/datatables/jquery.dataTables.min.js", function(){
	loadScript("media/js/plugin/datatables/dataTables.colVis.min.js", function(){
    	    loadScript("media/js/plugin/datatables/dataTables.tableTools.min.js", function(){
		loadScript("media/js/plugin/datatables/dataTables.bootstrap.min.js", function(){
		    loadScript("media/js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
		});
    	    });
	});
    });
</script>


<% end %>

<% template render() %>

    <% include header() %>

<% end template %>
<% end view %>
<% end skin %>
